<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <meta name="description" content="{{.Description}}">
    <link rel="stylesheet" href="{{.BasePath}}/css/gallery.css">
    <link rel="stylesheet" href="{{.BasePath}}/css/custom.css">
</head>
<body>
    <div class="gallery-container">
        {{.Content}}
    </div>
    
    <footer class="gallery-footer">
        <p>Gallery powered by <a href="https://github.com/chrissnell/purtypics" target="_blank">PurtyPics {{.Version}}</a></p>
    </footer>
    
    <!-- Build info: {{.CommitHash}} -->
    
    <script src="{{.BasePath}}/js/masonry.pkgd.min.js"></script>
    <script src="{{.BasePath}}/js/imagesloaded.pkgd.min.js"></script>
    <script src="{{.BasePath}}/js/gallery.js"></script>
</body>
</html>